{% extends "roary/base.html" %}

{% block title %}ROARY{% endblock title %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'roary:index' %}">ROARY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'roary:index' %}">Home</a>
            </li>
            <li class="nav-item active">
            <a class="nav-link" href="#">My Favourites</a>
            </li>
        </ul>
        <a class="mr-sm-2 text-light">{{ User.username }}</a>
        <a type="submit" class="btn btn-secondary my-2 my-sm-0" value="Logout" method="POST" href="{% url 'roary:logout' %}">Logout</a>
    </div>
</nav>
{% endblock navbar %}

{% block content %}
<div class="card">
    <div class="card-header">Your favourite roars:</div>
    </div>
</div>
<div class="container">
</br>
{% for roar in favourite_roars %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ roar.author }}</h5>
            <p class="text-muted ">{{ roar.text }}</p>
            <div class="card-footer">
                <a class="float-right small">{{ roar.timestamp }}</a>
            </div>
        </div>
        </div>
{% endfor %}
</div>
{% endblock content %}
